{% extends "blog_app/base.html" %}
{% block content %}
       <h1>About Page</h1>
       <div class="mt-4 p-5 bg-light text-body rounded">
              <p>Inspired by the definition itself, Paragon Studios through photography represents a lifestyle of excellence where we do all that we love on a 
              daily basis with excellence, presenting a perfect example of any particular quality.</p>
              <footer class="blockquote-footer">&copy; Linda Busani -2025</footer>
       </div>

{% endblock content %}